@model LibData.Models.TaiChinh.KetQuaThanhToanModel
@{
    ViewBag.Title = "Kết quả thanh toán -";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="panel panel-primary filterable w-100">
                    <div class="panel-heading">
                        <div class="row">
                            <ol id="breadcumb" class="breadcrumb col">
                                <li><a href="/">Trang chủ</a> / Kết quả thanh toán</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header clearfix">
                <h3 class="text-muted">Kết quả thanh toán</h3>
            </div>
            <div class="table-responsive">
                <div id="displayMsg">
                    @if (Model.vnp_ResponseCode == "00" && Model.vnp_TransactionStatus == "00")
                    {
                        <text>Giao dịch được thực hiện thành công. Cảm ơn quý khách đã sử dụng dịch vụ</text>
                    }
                    else
                    {
                        <text>Có lỗi xảy ra trong quá trình xử lý. Mã lỗi: @Model.vnp_ResponseCode</text>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayTmnCode">
                    Mã Website (Terminal ID): @Model.vnp_TmnCode
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayTxnRef">
                    Mã giao dịch thanh toán: @Model.vnp_TxnRef
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayVnpayTranNo">
                    Mã giao dịch tại VNPAY: @Model.vnp_TransactionNo
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayAmount">
                    Số tiền thanh toán (VND):@(Model.vnp_Amount / 100)
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayBankCode">
                    Ngân hàng thanh toán: @Model.vnp_BankCode
                </div>
            </div>
            <div class="table-responsive">
                <div id="displayOrderInfo">
                    Thông tin đơn hàng: @Model.vnp_OrderInfo
                </div>
            </div>
        </div>
    </section>
</div>


