@model LibData.HoaDon
@{
    ViewBag.Title = "Thanh toán hóa đơn -";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="panel panel-primary filterable w-100">
                    <div class="panel-heading">
                        <div class="row">
                            <ol id="breadcumb" class="breadcrumb col">
                                <li><a href="/">Trang chủ</a> / VNPAY DEMO</li>
                            </ol>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <form action="javascript:sendRequestPay()" id="formSendRequestPay">
                            <h3 class="mb-3">Thông tin thanh toán </h3>

                            <div class="form-group">
                                <label>Loại hàng hóa (*) </label>
                                <select class="form-control js-example-basic-single" name="orderCategory" style="width:100%">
                                    @foreach (var item in LibData.Configuration.VnPayConfig.OrderCategoryToDictionary)
                                    {
                                        <option value="@item.Key" @(item.Key.Equals("billpayment") ? "selected" : "")>@item.Value</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Số tiền Thanh toán(*): VND</label>
                                <input type="number" name="txtAmount" class="form-control" min="0" value="@ViewBag.TongTien" />
                            </div>
                            <div class="form-group">
                                <label>Nội dung thanh toán (*)</label>
                                <input type="text" name="txtOrderDesc" class="form-control" value="Thanh Toan Hoa Don CODE:@Model.Id" />
                            </div>
                            <div class="form-group">
                                <label>Ngân hàng</label>
                                <select class="form-control js-example-basic-single" name="cboBankCode" style="width:100%">
                                    @foreach (var item in LibData.Configuration.VnPayConfig.BankCodeToDictionary)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ngôn ngữ  (*)</label>
                                <select class="form-control js-example-basic-single" name="cboLanguage" style="width:100%">
                                    @foreach (var item in LibData.Configuration.VnPayConfig.LanguageToDictionary)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <!-- Date and time -->
                            <div class="form-group">
                                <label>Thời gian đến</label>
                                <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                    <input type="text" name="txtExpire" id="txtExpire" value="@DateTime.Now.AddMinutes(5).ToString("dd/MM/yyyy HH:mm")" class="form-control datetimepicker-input" data-target="#reservationdatetime" />
                                    <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h3>Thông tin hóa đơn (Billing)</h3>
                            </div>
                            <div class="form-group">
                                <label>Họ tên (*)</label>
                                <input type="text" name="txt_billing_fullname" class="form-control" value="@Model.KhachHang.TenKhach" />
                            </div>
                            <div class="form-group">
                                <label>Email (*)</label>
                                <input type="email" name="txt_billing_email" class="form-control" value="@Model.KhachHang.Email" />
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại (*)</label>
                                <input type="tel" name="txt_billing_mobile" class="form-control" value="@Model.KhachHang.DienThoai" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" name="txt_billing_addr1" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Mã bưu điện</label>
                                <input type="number" name="txt_postalcode" class="form-control" min="0" value="" />
                            </div>
                            <div class="form-group">
                                <label>Tỉnh/TP</label>
                                <input type="text" name="txt_bill_city" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Bang (Áp dụng cho US,CA)</label>
                                <input type="text" name="txt_bill__state" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Quốc gia (*)</label>
                                <input type="text" name="txt_bill_country" class="form-control" value="Việt Nam" />
                            </div>
                            <div class="form-group">
                                <h3>Thông tin giao hàng (Shipping)</h3>
                            </div>
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" name="txt_ship_fullname" class="form-control" value="Nguyễn Văn A" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="txt_ship_email" class="form-control" value="abc@a.com" />
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="tel" name="txt_ship_mobile" class="form-control" value="0123456789" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" name="txt_ship_addr1" class="form-control" value="333 Đường Láng" />
                            </div>
                            <div class="form-group">
                                <label>Mã bưu điện</label>
                                <input type="number" name="txt_ship_postalcode" class="form-control" value="1001" />
                            </div>
                            <div class="form-group">
                                <label>Tỉnh/TP</label>
                                <input type="text" name="txt_ship_city" class="form-control" value="Hà Nội" />
                            </div>
                            <div class="form-group">
                                <label>Bang (Áp dụng cho US,CA)</label>
                                <input type="text" name="txt_ship_state" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Quốc gia</label>
                                <input type="text" name="txt_ship_country" class="form-control" value="Việt Nam" />
                            </div>

                            <div class="form-group">
                                <h3>Thông tin gửi Hóa đơn điện tử (Invoice)</h3>
                            </div>
                            <div class="form-group">
                                <label>Tên khách hàng</label>
                                <input type="text" name="txt_inv_customer" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Công ty</label>
                                <input type="text" name="txt_inv_company" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" name="txt_inv_addr1" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Mã số thuế</label>
                                <input type="number" name="txt_inv_taxcode" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Loại hóa đơn</label>
                                <select class="form-control js-example-basic-single" name="cbo_inv_type" style="width:100%">
                                    @foreach (var item in LibData.Configuration.VnPayConfig.TypeToDictionary)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="txt_inv_email" class="form-control" value="" />
                            </div>
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <input type="tel" name="txt_inv_mobile" class="form-control" value="" />
                            </div>
                            <div class="row w-100 mb-3 m-0">
                                <div class="col-md-6 text-left p-0">
                                    <button type="button" class="btn btn-warning" onclick="thanhtoanTienMat(@Model.Id)">Thanh toán bằng tiền mặt</button>
                                </div>
                                <div class="col-md-6 text-right p-0">
                                    <button type="submit" class="btn btn-success">Thanh toán VnPay</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts{
    <script>
        $(function () {
            $(function () {
                //Date and time picker
                $('#reservationdatetime').datetimepicker({ format: 'DD/MM/YYYY HH:mm', icons: { time: 'far fa-clock' } });;
            });
        });

        function sendRequestPay() {
            var formData = new FormData(document.getElementById('formSendRequestPay'));
            $.ajax({
                url: '/TaiChinh/ThanhToanHoaDon',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                traditional: true,
                type: 'POST',
                success: function (data) {
                    //var data = JSON.parse(content)
                    if (data.status == 200) {
                        window.location.href = data.msg;
                    }
                    else {
                        toastThatBai(data.msg)
                    }

                }
            });
        }

        function thanhtoanTienMat(id) {
            if (confirm("Bạn chắc chắn muốn thanh toán tiền mặt")) {
                $.ajax({
                    type: "POST",
                    url: "../TaiChinh/ThanhToanTienMat",
                    data: { id: id },
                    dataType: "json",
                    success: function (data, status, xhr) {
                        if (data.status == 200) {
                            window.location.href = '/Home/IndexAdmin'
                        }
                        else {
                            toastThatBai(data.msg)
                        }
                    },
                    error: function () {
                        toastThatBai("Đã có lỗi xảy ra vui lòng thử lại hoặc liên hệ với hỗ trợ viên để được hỗ trợ!");
                    }
                });
            }
            
        }
    </script>
}