@model List<LibData.HoaDon>
@{
    Layout = null;
    var listBan = ViewData["listBan"] as List<LibData.BanAn>;
    var listMonAn = ViewData["listMonAn"] as List<LibData.MonAn>;
    var listNDHoaDon = ViewData["listNDHoaDon"] != null ? ViewData["listNDHoaDon"] as List<LibData.NDHoaDon> : new List<LibData.NDHoaDon>();
    long TongTien = 0;
    if(listNDHoaDon.Count > 0)
    {
        TongTien = listNDHoaDon.Sum(x => x.Giatien * x.SoLuong);
    }
}

<div class="modal-header">
    <h4 class="modal-title">Thông tin bàn @Model[0].BanAn.TenBan</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin đặt bàn</h3>
        </div>
        <div class="card-body">
            <form action="javascript:editHoaDon('banban')" id="formEditThongTinDatBan">
                @Html.Hidden("Id", Model[0].Id)
                <div class="form-group">
                    <label>Tên khách: @Model[0].KhachHang.TenKhach</label>
                    <br />
                    <label>SĐT khách: @Model[0].KhachHang.DienThoai</label>
                    <br />
                    <label>Email khách: @Model[0].KhachHang.Email</label>
                </div>
                <div class="form-group">
                    <label>Số người đến</label>
                    <input type="number" class="form-control" name="SoLuongNguoi" value="@Model[0].SoLuongNguoi" />
                </div>
                <div class="form-group">
                    <label>Yêu cầu đặc biệt</label>
                    <textarea type="text" class="form-control" name="YeuCauDacBiet" maxlength="1000" rows="4">@Html.Raw(@Model[0].YeuCauDacBiet)</textarea>
                </div>

                <!-- Date and time -->
                <div class="form-group">
                    <label>Thời gian đến</label>
                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                        <input type="text" name="ThoiGianDen" value="@Model[0].ThoiGianDen.ToString("dd/MM/yyyy HH:mm")" class="form-control datetimepicker-input" data-target="#reservationdatetime" />
                        <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <button type="button" onclick="huyHoaDon('banban')" class="btn btn-danger float-left">Hủy đặt chỗ</button>
                <button type="submit" class="btn btn-warning float-right">Lưu Thay đổi</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Món ăn được gọi</h3>
        </div>
        <div class="card-body">

            <div class="form-group">
                <table class="table table-bordered table-striped mt-2" id="tableDsMonAn">
                    <thead id="maincontent">
                        <tr>
                            <th>Tên món</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody id="listMonAnDuocGoi">
                        @if (listNDHoaDon.Count > 0)
                        {
                            foreach (var item in listNDHoaDon)
                            {
                                <tr>
                                    <td>@item.MonAn.TenMon</td>
                                    <td>@string.Format("{0:0,0 VNĐ}", item.Giatien)</td>
                                    <td><input type="number" class="form-control" value="@item.SoLuong" onchange="editNDHoaDon(@item.Id, this)"></td>
                                    <td id="model_ThanhTien_@item.Id">@string.Format("{0:0,0 VNĐ}", item.ThanhTien)</td>
                                    <td class="text-center">
                                        <a style="cursor: pointer;" onclick="xoaNdHoaDon(@item.Id, this)"><i class="fa fa-trash"></i> Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="w-100 text-right" id="tiem-tam-tinh">
                    <b>Tiền tạm tính: @string.Format("{0:0,0 VNĐ}", TongTien)</b>
                </div>
            </div>
            <div class="form-group mt-5">
                <form action="javascript:addNDHoaDon()" id="formAddNDHoaDon">
                    @Html.Hidden("IdHoaDon", Model[0].Id)
                    <label>Lựa chọn món ăn</label>
                    <select class="form-control select2bs4" name="IdMonAn" id="IdMonAn" required>
                        <option value="" selected disabled>-- Lựa chọn món ăn --</option>
                        @foreach (var item in listMonAn)
                        {
                            <option value="@item.Id">@item.TenMon/@string.Format("{0:0,0 VNĐ}", item.GiaTien)</option>
                        }
                    </select>
                    <label class="mt-2">Số lượng mua</label>
                    <input type="number" class="form-control" id="SoLuong" name="SoLuong" min="1" max="100" value="1" />
                    <button type="submit" class="btn btn-primary float-right mt-2">Thêm vào hóa đơn</button>
                </form>
            </div>


        </div>
        <!-- /.card-body -->
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Chuyển bàn</h3>
        </div>
        <div class="card-body">
            <form action="javascript:chuyenBan('banban')" id="formChuyenBan">
                @Html.Hidden("id", Model[0].Id)
                <div class="form-group">
                    <label for="IdBanAn">Lựa chọn bàn chuyển</label>
                    <select class="form-control select2bs4" name="idBanChuyenDen" id="idBanChuyenDen" required>
                        <option value="" selected disabled>-- Lựa chọn bàn --</option>
                        @foreach (var item in listBan)
                        {
                            <option value="@item.Id">Số bàn @item.TenBan</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary float-right">Chuyển</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đặt chỗ đang chờ</h3>
        </div>
        <div class="card-body">

            <div class="form-group">
                <table class="table table-bordered table-striped mt-2" id="tableDsHDCho">
                    <thead id="maincontent">
                        <tr>
                            <th>Thời gian đến</th>
                            <th>Tên khách</th>
                            <th>SĐT</th>
                            <th>Số người đến</th>
                            <th>Yêu cầu đặc biệt</th>
                        </tr>
                    </thead>
                    <tbody id="listHDCho">
                        @if (Model.Count > 1)
                        {
                            for (int i = 1; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@Model[i].ThoiGianDen.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@Model[i].KhachHang.TenKhach</td>
                                    <td>@Model[i].KhachHang.DienThoai</td>
                                    <td>@Model[i].SoLuongNguoi</td>
                                    <td>
                                        @Html.Raw(Model[i].YeuCauDacBiet)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    <a class="btn btn-success" href="javascript:chuyenHuongThanhToan('/TaiChinh/ThanhToanHoaDon?id=@Model[0].Id')">Thanh toán</a>
</div>

<script>
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    //Date and time picker
    $('#reservationdatetime').datetimepicker({ format: 'DD/MM/YYYY HH:mm', icons: { time: 'far fa-clock' } });;
</script>