
@{
    ViewBag.Title = "Thêm đơn hàng";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    //var listNhaCungCap = ViewData["listNhaCungCap"] != null ? ViewData["listNhaCungCap"] as List<D2018_QLVT.Data.NhaCungCap> : new List<D2018_QLVT.Data.NhaCungCap>();
    //var listNhanVien = ViewData["listNhanVien"] != null ? ViewData["listNhanVien"] as List<D2018_QLVT.Data.NhanVien> : new List<D2018_QLVT.Data.NhanVien>();
}


<!-- summernote -->
<link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active">Thêm đơn hàng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin đơn hàng</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="javascript:addDonHang()" id="formAddDonHang">
                            <div class="form-group">
                                <label for="HoTen">Nhân viên tạo đơn <span class="text-danger">*</span></label>
                                <select id="IdNhanVien" name="IdNhanVien" class="select2bs4 form-control" style="width: 100%;" required>
                                    <option value="">-Lựa chọn nhân viên-</option>
                                    @*@foreach (var item in listNhanVien)
                {
                    <option value="@item.Id">@item.HoTen - @item.Email</option>
                }*@
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Nhà cung cấp <span class="text-danger">*</span></label>
                                <select id="IdNhaCungCap" name="IdNhaCungCap" class="select2bs4 form-control" style="width: 100%;" onchange="getMatHangOfNhaCungCap()" required>
                                    <option value="">-Lựa chọn nhà cung cấp-</option>
                                    @*@foreach (var item in listNhaCungCap)
                {
                    <option value="@item.Id">@item.TenNCC - @item.Email</option>
                }*@
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Đơn vị tiền tệ <span class="text-danger">*</span></label>
                                <input type="text" id="DonViTienTe" name="DonViTienTe" class="form-control" placeholder="VD: VNĐ" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Phí vận chuyển <span class="text-danger">*</span></label>
                                <input type="number" id="PhiVanChuyen" name="PhiVanChuyen" class="form-control" min="0" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Phí khác <span class="text-danger">*</span></label>
                                <input type="number" id="PhiKhac" name="PhiKhac" class="form-control" min="0" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Thuế GTGT(%) <span class="text-danger">*</span></label>
                                <input type="number" id="TienThueGTGT" name="TienThueGTGT" class="form-control" min="0" max="100" required>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Ngày giao hàng dự kiến</label>
                                <input type="text" id="NgayNhapDuKien" name="NgayNhapDuKien" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Tổng tiền</label>
                                <input type="text" id="TongTien" name="TongTien" class="form-control"  >
                            </div>
                            <div class="form-group">
                                <label for="HoTen">Hình thức thanh toán <span class="text-danger">*</span></label>
                                <input type="text" id="HinhThucThanhToan" name="HinhThucThanhToan" class="form-control" placeholder="VD: Tiền mặt" required>
                            </div>
                            <button type="submit" id="btnsmit" class="d-none"></button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Chi tiết đơn hàng</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md text-right">
                                <button type="button" class="btn btn-info" onclick='onCreate()'><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm mặt hàng</button>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover table-striped table-condensed" cellspacing="0" rules="all" border="1" id="tblCTDH">
                            <thead>
                                <tr>
                                    <th class="text-center">Tên mặt hàng</th>
                                    <th class="text-center">Đơn vị tính</th>
                                    <th class="text-center">Đơn giá</th>
                                    <th class="text-center">Số lượng</th>
                                    <th class="text-center">Thành tiền</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <button class="btn btn-secondary" onclick="$('#formAddDonHang').trigger('reset');">Hủy</button>
                <button type="button" onclick="$('#btnsmit').click()" class="btn btn-success float-right">Thêm đơn hàng</button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- modal thêm sửa chi tiết đơn hàng -->
<div id="CTDH-modal" class="modal effect-scale fade" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="CTDH-modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Thêm mặt hàng</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="javascript:onSubmitCTDH()" id="formAddCTDH">
                    <input type="hidden" id="CTDHId" value="-1" />
                    <div class="form-row">
                        <div class="form-group col-md-3 mt-1">
                            <label class="control-label">Mặt hàng <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group col-md">
                            <select class="form-control select2bs4" id="IdNhaCungCapMatHang" name="IdNhaCungCapMatHang" style="width:100%" required>
                                <option value="">- Chọn mặt hàng -</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 mt-1">
                            <label class="control-label">Đơn vị tính <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" name="DonVi" id="DonVi" value="" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3 mt-1">
                            <label class="control-label">Đơn giá <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group col-md">
                            <input type="number" class="form-control" name="DonGia" id="DonGia" min="0" value="" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3 mt-1">
                            <label class="control-label">Số lượng <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group col-md">
                            <input type="number" class="form-control" name="SoLuong" id="SoLuong" min="1" value="" required>
                        </div>
                    </div>
                    <button type="submit" class="d-none" id="sMit" />
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary text-uppercase">đóng</button>
                <button type="button" onclick="$('#sMit').click()" id="btnThemSuaCtdh" class="btn btn-success text-uppercase">thêm</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- InputMask -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/inputmask/jquery.inputmask.min.js"></script>

    <script>
        var selectedRow = null
        var ctdhCount = 0
        let listCtdh = {};
        //Money Euro
        $('[data-mask]').inputmask()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        function resetForm() {
            $("#IdNhaCungCapMatHang").val("").change()
            $("#DonVi").val("")
            $("#DonGia").val("")
            $("#SoLuong").val("")
            $("#CTDHId").val("-1")
            selectedRow = null;
        }

        function onCreate() {
            if ($("#IdNhaCungCap").val()) {
                $("#CTDH-modal-content div h6").text("Thêm mặt hàng vào đơn hàng");
                $("#btnThemSuaCtdh").text("Thêm");
                resetForm()
                openModalCommom("CTDH-modal")
            }
            else {
                toastCanhbao("Vui lòng chọn nhà cung cấp để thêm mặt hàng!")
            }
        }

        function onSubmitCTDH() {
            var formData = readFormData();
            if (selectedRow == null)
                insertNewRecord(formData);
            else
                updateRecord(formData);
        }

        function readFormData() {
            var formData = {};
            formData["Id"] = $("#CTDHId").val()
            formData["IdNhaCungCapMatHang"] = $("#IdNhaCungCapMatHang").val()
            formData["DonVi"] = $("#DonVi").val()
            formData["DonGia"] = $("#DonGia").val()
            formData["SoLuong"] = $("#SoLuong").val()
            formData["TenMatHang"] = $("#IdNhaCungCapMatHang option:selected").text()
            formData["ThanhTien"] = $("#SoLuong").val() * $("#DonGia").val()
            return formData;
        }

        function insertNewRecord(data) {
            var table = $("#tblCTDH tbody") //document.getElementById("tblTkb").getElementsByTagName('tbody')[0];
            var newRow = `<tr>
                <td align="left">` + data.TenMatHang + `</td>
                <td align="center">` + data.DonVi + `</td>
                <td align="center">` + data.DonGia + `</td>
                <td align="center">` + data.SoLuong + `</td>
                <td align="center">` + data.ThanhTien + `</td>
                <td style="display:none;">` + data.IdNhaCungCapMatHang + `</td>
                <td align="center">
                    <button class="btn btn-warning" onclick="onEdit(this, `+ ctdhCount + `)"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</button>
                    <button class="btn btn-danger" onclick="onDelete(this, `+ ctdhCount + `)"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button>
                </td>
            </tr>`
            table.append(newRow)
            resetForm()
            var detailCtdt = {
                Id: ctdhCount,
                IdNhaCungCapMatHang: data.IdNhaCungCapMatHang,
                DonVi: data.DonVi,
                DonGia: data.DonGia,
                SoLuong: data.SoLuong,
                ThanhTien: data.ThanhTien,
            };
            listCtdh[ctdhCount] = detailCtdt;
            ctdhCount++;
            toastThanhCong("Thêm mới thành công!")
            $("#CTDH-modal").modal("hide")
        }


        function onEdit(td, id) {
            $("#CTDH-modal-content div h6").text("Sửa mặt hàng trong đơn hàng")
            $("#btnThemSuaCtdh").text("Sửa")
            selectedRow = td.parentElement.parentElement;
            $("#DonVi").val(selectedRow.cells[1].innerHTML)
            $("#DonGia").val(selectedRow.cells[2].innerHTML)
            $("#SoLuong").val(selectedRow.cells[3].innerHTML)
            $("#IdNhaCungCapMatHang").val(selectedRow.cells[5].innerHTML).change()
            $("#CTDHId").val(id)
            openModalCommom("CTDH-modal")
        }

        function updateRecord(formData) {
            selectedRow.cells[0].innerHTML = formData.TenMatHang;
            selectedRow.cells[1].innerHTML = formData.DonVi;
            selectedRow.cells[2].innerHTML = formData.DonGia;
            selectedRow.cells[3].innerHTML = formData.SoLuong;
            selectedRow.cells[4].innerHTML = formData.ThanhTien;
            selectedRow.cells[5].innerHTML = formData.IdNhaCungCapMatHang;

            listCtdh[formData.Id].IdNhaCungCapMatHang = formData.IdNhaCungCapMatHang;
            listCtdh[formData.Id].DonVi = formData.DonVi;
            listCtdh[formData.Id].DonGia = formData.DonGia;
            listCtdh[formData.Id].SoLuong = formData.SoLuong;
            listCtdh[formData.Id].ThanhTien = formData.ThanhTien;

            $("#CTDH-modal").modal("hide")
            resetForm()
            toastThanhCong("Cập nhật thành công.")
        }

        function onDelete(td, id) {
            if (confirm('Bạn có muốn xóa mặt hàng này không ?')) {
                row = td.parentElement.parentElement;
                document.getElementById("tblCTDH").deleteRow(row.rowIndex);
                delete listCtdh[id];
                resetForm();
                toastThanhCong("Xóa thành công.")
            }
        }

        function addDonHang() {
            if (listCtdh) {
                var formData = new FormData(document.getElementById('formAddDonHang'));
                var i = 0;
                var tongtien = 0;
                for (key in listCtdh) {
                    formData.append('ctdh[' + i + '].IdNhaCungCapMatHang', listCtdh[key].IdNhaCungCapMatHang);
                    formData.append('ctdh[' + i + '].DonVi', listCtdh[key].DonVi);
                    formData.append('ctdh[' + i + '].DonGia', listCtdh[key].DonGia);
                    formData.append('ctdh[' + i + '].SoLuong', listCtdh[key].SoLuong);
                    formData.append('ctdh[' + i + '].ThanhTien', listCtdh[key].ThanhTien);
                    tongtien += listCtdh[key].ThanhTien
                    i++
                }
                formData.append('TongTien', tongtien);
                $.ajax({
                    url: '/DonHang/ThemDonHang',
                    dataType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    traditional: true,
                    type: 'POST',
                    success: function (data) {
                        //var data = JSON.parse(content)
                        if (data.status == 200) {
                            toastThanhCong(data.msg)
                        }
                        else {
                            toastThatBai(data.msg)
                        }

                    }
                });
            }
            else {
                toastCanhbao("Đơn hàng phải có ít nhất 1 mặt hàng.")
            }
        }

        function getMatHangOfNhaCungCap() {
            var idncc = $('#IdNhaCungCap').val()
            if (idncc) {
                $.ajax({
                    type: "GET",
                    data: { idncc: idncc },
                    url: "../DonHang/GetMatHangOfNhaCungCap",
                    success: function (data, status, xhr) {
                        if (data.status == 200) {
                            var list = `<option value="">- Chọn mặt hàng -</option>`
                            $.each(data.data, function (i, v) {
                                var temp = `<option value="` + v.Id + `">` + v.TenHang + `</option>`
                                list += temp;
                            })
                            $('#IdNhaCungCapMatHang').html(list)
                        }
                        else if (data.status == 400) {
                            toastCanhbao(data.msg)
                        }
                        else {
                            toastThatBai(data.msg)
                        }
                    },
                    error: function () {
                        toastThatBai("Đã có lỗi xảy ra vui lòng thử lại hoặc liên hệ với hỗ trợ viên để được hỗ trợ!");
                    }
                });
            }
            else {
                $('#IdNhaCungCapMatHang').html(`<option value="">- Chọn mặt hàng -</option>`)
            }
            
        }
    </script>
}